* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(./code-g243d7c8c6_1920.jpg);
    background-size: cover;
    background-position: center;
}

.menuBar {
    background-color: #5599c7;
    text-align: center;
}
.menuBar ul li {
    display: inline-block;
    width: 120px;
    margin: 0 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    transition: all 0.5s;
}
.menuBar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.active,
.menuBar ul li:hover {
    background-color: #7fb5d9;
}

.subMenu-1 {
    position: absolute;
    background-color: #5599c7;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.menuBar ul li:hover .subMenu-1 {
    display: block;
}

.menuBar ul li:hover .subMenu-1 ul li {
    display: block;
    width: 140px;
    border-bottom: 1px dotted white;
}
.menuBar ul li:hover .subMenu-1 ul li:last-child {
    border: none;
}